.seller-auth {
            border: 1px solid #ddd;
            width: 350px;
            height: 530px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: #1E685C;
        }

        h1{
            color: rgb(248, 246, 246);
        }
 
        .main-containter{
            display: flex;
            justify-content: center;
            align-items: center;
        }