<!-- <app-seller-auth></app-seller-auth> -->


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="buttonb" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" *ngIf="popularProducts">
    <div *ngFor="let product of popularProducts; let i = index" class="carousel-item active">
      <img src="{{product.productImage}}" class="d-block w-50 h-auto mx-auto" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{product.productName}}</h5>
        <p>{{product.describtion}}</p>
      </div>  
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="product-list-wreppear">
  <h1>Trendy product</h1>
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of trendyProducts">
      <div class="product-Item">
         <img src="{{item.productImage}}" alt="">
      <div class="product-Details">
        <h6 class="name-head">Name: {{item.productName}}</h6>
      
      <div class="product-price">
        <h6>Price: {{item.productPrice}}</h6>
      </div>  
      <div class="product-color">
        <h6>Color: {{item.productColor}}</h6>
      </div>
      </div> 
  <div class="product-footer">
    <a href="">View-Details</a>
    <a href="">Add to cart</a>
  </div>
  </div>
  </div>
</div>
</div>


