
.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table{
    text-align: left;
    color: #619f9f;
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid #619f9f;
    padding: 15px;
    min-height: 150px;
}

img{
    height: 100px;
    width: 100px;
}

fa-icon, .updateIcon {
    font-size: 28px;
    cursor: pointer;
    color: #619f9f;
    margin-left: 10px;
}

.combineClass{
    color: #619f9f;
}