<div class="product-list">
    <h1 class="combineClass">Product List</h1>
    <p class="combineClass">{{productMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Describtion</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{item.productImage}}" alt=""></td>
                <td>{{item.productName}}</td>
                <td>{{item.productPrice}}</td>
                <td>{{item.productColor}}</td>
                <td>{{item.productCategary}}</td> 
                <td>{{item.describtion}}</td>  
                <td><fa-icon (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon></td>     
            </tr>
        </tbody>
    </table>
</div>
