


.auth-toggleLink {
    margin-top: 15px;
    font-size: 14px;
    color: #619f9f;
    cursor: pointer;
}
  

p{
    color: red;
    margin-bottom: 10px;
}

.signup {
    border: 1px solid #ddd;
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}